body {
	width: 650px;
	margin: 50px auto;
	line-height: 1.5;
}

h1 {
	line-height: 1;
	margin-bottom: 1em;
}

p {
	margin-bottom: 2em;
}

#myform {
	width: 650px;
	margin: 8px auto;
}

#submit {
	margin-left: 170px;
}

div.error input {
	border: 1px solid red !important;
}

span.error {
	color: red;
	font-weight: bold;
	vertical-align: top;
	padding-right: 1em;
	border: none !important;
	background: none !important;
	width: 100% !important;
	
	
}


div.error .idealselect .idealselect-title {
	background: rgb(243, 197, 189); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(243, 197, 189, 1) 0%,
		rgba(234, 40, 3, 1) 15%, rgba(232, 108, 87, 1) 50%,
		rgba(255, 102, 0, 1) 75%, rgba(199, 34, 0, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243,
		197, 189, 1) ), color-stop(15%, rgba(234, 40, 3, 1) ),
		color-stop(50%, rgba(232, 108, 87, 1) ),
		color-stop(75%, rgba(255, 102, 0, 1) ),
		color-stop(100%, rgba(199, 34, 0, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(243, 197, 189, 1) 0%,
		rgba(234, 40, 3, 1) 15%, rgba(232, 108, 87, 1) 50%,
		rgba(255, 102, 0, 1) 75%, rgba(199, 34, 0, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(243, 197, 189, 1) 0%,
		rgba(234, 40, 3, 1) 15%, rgba(232, 108, 87, 1) 50%,
		rgba(255, 102, 0, 1) 75%, rgba(199, 34, 0, 1) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(243, 197, 189, 1) 0%,
		rgba(234, 40, 3, 1) 15%, rgba(232, 108, 87, 1) 50%,
		rgba(255, 102, 0, 1) 75%, rgba(199, 34, 0, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(243, 197, 189, 1) 0%,
		rgba(234, 40, 3, 1) 15%, rgba(232, 108, 87, 1) 50%,
		rgba(255, 102, 0, 1) 75%, rgba(199, 34, 0, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(    startColorstr='#f3c5bd',
		endColorstr='#c72200', GradientType=0 ); /* IE6-9 */
}

.footer {
	height: 200px;
	background: rgb(206, 220, 231); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206, 220, 231, 1) 0%,
		rgba(89, 106, 114, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(206,
		220, 231, 1) ), color-stop(100%, rgba(89, 106, 114, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206, 220, 231, 1) 0%,
		rgba(89, 106, 114, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206, 220, 231, 1) 0%,
		rgba(89, 106, 114, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206, 220, 231, 1) 0%,
		rgba(89, 106, 114, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206, 220, 231, 1) 0%,
		rgba(89, 106, 114, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(     startColorstr='#cedce7',
		endColorstr='#596a72', GradientType=0 ); /* IE6-9 */
}

.footer p {
	text-align: center;
	font-size: 18px;
	vertical-align: middle;
	color: white;
	padding-top: 90px;
	
}

.clear {
	clear: both;
}

.header {
	height: 100px;
	background: rgb(240, 183, 161); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(240, 183, 161, 1) 0%,
		rgba(237, 129, 52, 1) 59%, rgba(224, 125, 26, 1) 79%,
		rgba(191, 110, 78, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240,
		183, 161, 1) ), color-stop(59%, rgba(237, 129, 52, 1) ),
		color-stop(79%, rgba(224, 125, 26, 1) ),
		color-stop(100%, rgba(191, 110, 78, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(240, 183, 161, 1) 0%,
		rgba(237, 129, 52, 1) 59%, rgba(224, 125, 26, 1) 79%,
		rgba(191, 110, 78, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(240, 183, 161, 1) 0%,
		rgba(237, 129, 52, 1) 59%, rgba(224, 125, 26, 1) 79%,
		rgba(191, 110, 78, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(240, 183, 161, 1) 0%,
		rgba(237, 129, 52, 1) 59%, rgba(224, 125, 26, 1) 79%,
		rgba(191, 110, 78, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(240, 183, 161, 1) 0%,
		rgba(237, 129, 52, 1) 59%, rgba(224, 125, 26, 1) 79%,
		rgba(191, 110, 78, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#f0b7a1',
		endColorstr='#bf6e4e', GradientType=0 ); /* IE6-9 */
}

.header p {
	text-align: center;
	font-size: 18px;
	vertical-align: middle;
	color: white;
	padding-top: 40px;
}